.container {
    opacity: 0.5;
    background-color: rgb(12, 12, 12);
    width: 1000px;
    height: 2000px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 10px #535353;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
}

.topcontainer{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 60px;
}

.segregator {
    display: flex;
    justify-content: center;  
    align-items: flex-start;
    gap: 40px;                
    margin-bottom: 60px;
}

.head {
    font-size: 65px;
    color: rgb(255, 255, 255);
}

.cardInfo, .cardAbout, .cardProject, .cardActivity {
    background-color: rgb(127, 121, 134);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid rgb(58, 58, 58);
    box-shadow: 0 4px 10px rgb(131, 131, 131);
    text-align: left;
    padding: 10px;
}

.cardInfo {
    height: 400px;
    width: 250px;
    transition: .35s;
}

.cardInfo:hover {
    transform: scale(1.05)
}

.card {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(219, 218, 218);
    text-align: center;
    padding: 10px;
    margin: 0 auto;

    transition: .35s;
}

.card:hover {
    transform: scale(1.3)
}

.cardTitles {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(219, 218, 218);

    display: flex;
    align-items: center;  
    justify-content: center; 

    padding: 5px;
    margin-bottom: 20px;

    transition: .35s;
}

.cardTitles:hover{
    transform: scale(1.05)
}

.cardAbout {
    width: 600px;
    height: auto;
}

.cardProject {
    width: 950px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cardActivity{
    width: 950px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.cardInfo {
    margin-right: auto; 
}

.cardAbout {
    margin-left: auto;
    line-height: 25px;
}

.work {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(219, 218, 218);
    text-align: center;
    padding: 10px;;

    transition: .35s;
}

body {
    background-image: linear-gradient(to bottom, rgb(34, 34, 34) 0%, rgb(71, 71, 71) 50%, rgb(114, 114, 114) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    margin: 0;            
    display: inline-block; 
    border-radius: 8px;
}
