.container {
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: auto;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 10px #535353;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    opacity: 0.70;
}

.topcontainer{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 60px;
}

.segregator {
    display: flex;
    justify-content: center;  
    align-items: flex-start;
    gap: 40px;                
    margin-bottom: 60px;
}

.head {
    font-size: 65px;
    color: rgb(255, 255, 255);
}
.box {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: 2px solid rgb(43, 43, 43);
    box-shadow: 0 4px 10px rgb(219, 218, 218);

    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: .35s;
}

.box:hover {
    transform: scale(1.05)
}

.cardInfo, .cardAbout, .cardProject, .cardActivity, .cardReflection {
    background-color: rgb(127, 121, 134);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid rgb(58, 58, 58);
    box-shadow: 0 4px 10px rgb(131, 131, 131);
    text-align: left;
    padding: 10px;
}

.cardInfo {
    height: 400px;
    width: 250px;
    transition: .35s;
}

.cardInfo:hover {
    transform: scale(1.05)
}

.card {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(219, 218, 218);
    text-align: center;
    padding: 10px;
    margin: 0 auto;

    transition: .01s;
}

.profile img {
    width: 150px;   
    height: 150px;
    border-radius: 50%;  
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
    transition: 0.35s;
}

.profile img:hover{
    transform: scale(1.25);
}

.card:hover {
    transform: scale(1.3)
}

.cardTitles {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid rgb(43, 43, 43);
    box-shadow: 0 4px 10px rgb(219, 218, 218);

    display: flex;
    align-items: center;  
    justify-content: center; 

    padding: 5px;
    margin-bottom: 20px;

    transition: .35s;
}

.cardTitles:hover{
    transform: scale(1.05)
}

.cardAbout {
    width: 600px;
    height: 400px;
}

.cardProject {
    width: 950px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cardActivity{
    width: 950px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cardReflection {
    width: 950px;
    height: 500px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.cardInfo {
    margin-right: auto; 
}

.cardAbout {
    margin-left: auto;
    line-height: 25px;
}
.card1 {
    width: auto;
    height: auto;
    border-radius: 15px;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    border: 2px solid rgb(63, 63, 63);
    background-color: rgb(3, 3, 3);
}
.card2 {
    width: 150px;
    height: auto;
    border-radius: 15px;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    border: 2px solid rgb(63, 63, 63);
    background-color: rgb(3, 3, 3);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.card2 .content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: 0.25s ease;
    z-index: 10;
}

.card2:hover .content {
    transform: scale(1.05);
    display: block;
    opacity: 1;
    max-height: 500px;
    max-width: 500px;
}


.work {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(219, 218, 218);
    text-align: center;
    padding: 10px;;

    transition: .35s;
}

body {
    background-image: linear-gradient(to bottom, rgb(15, 27, 46) 0%, rgb(67, 72, 145) 50%, rgb(118, 168, 201) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    margin: 0;            
    display: inline-block; 
    border-radius: 8px;
}

h2 {
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    line-height: 25px;
}

h3 {
    text-align: center;
}



